{% extends 'base.html.twig' %}

{% set __title = 'Listado de compañías' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Acronimo</th>
                                <th>Descripcion</th>
                                <th>Activo</th>
                                <th>Fecha de creación</th>
                                <th>Fecha de actualización</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for companium in companias %}
                            <tr>
                                <td>{{ companium.id }}</td>
                                <td><a href="{{ path('compania_show', { 'id': companium.id }) }}">{{ companium.nombre }}</a></td>
                                <td>{{ companium.acronimo }}</td>
                                <td>{{ companium.descripcion }}</td>
                                <td>{% if companium.activo %}<span class="label label-success">Si</span{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                                <td>{% if companium.fechaCreacion %}{{ companium.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                <td>{% if companium.fechaActualizacion %}{{ companium.fechaActualizacion|date('d/m/Y H:i:s') }}{% endif %}</td>                                <td>
                                    <a title="Editar"   class="btn btn-default btn-sm" href="{{ path('compania_edit', { 'id': companium.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a title="Eliminar" class="btn btn-default btn-sm delete-obj" data-id="{{ companium.id }}" data-href="{{ path('compania_delete', { 'id': companium.id }) }}"> <i class="glyphicon glyphicon-remove-circle"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            {{ knp_pagination_render(companias) }}

        </div>
    </div>

    <div class="delete-obj-form hidden">
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

    <a class="btn btn-primary" href="{{ path('compania_new') }}">Nueva Compañia</a>

{% endblock %}

