{% extends 'base.html.twig' %}

{% set __title = 'Compañía' %}

{% block content %}
<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ companium.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Descripcion</th>
                            <td>{{ companium.descripcion }}</td>
                        </tr>
                        <tr>
                            <th>Acronimo</th>
                            <td>{{ companium.acronimo }}</td>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <td>{{ companium.id }}</td>
                        </tr>
                        <tr>
                            <th>Activo</th>
                            <td>{% if companium.activo %}<span class="label label-success">Si</span{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Fechacreacion</th>
                            <td>{% if companium.fechaCreacion %}{{ companium.fechaCreacion|date('d-m-Y H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Fechaactualizacion</th>
                            <td>{% if companium.fechaActualizacion %}{{ companium.fechaActualizacion|date('d-m-Y H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Creado Por</th>
                            <td>{% if companium.creadoPor %}{{ companium.creadoPor }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Actualizado Por</th>
                            <td>{% if companium.actualizadoPor %}{{ companium.actualizadoPor }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('compania_edit', { 'id': companium.id }) }}"> Editar</a>
                    <a class="btn btn-default" href="{{ path('compania_index') }}"> Volver al Listado</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
