{% extends 'base.html.twig' %}

{% set __title = 'Gr치ficas Hist칩ricas del equipo '~ equipo.nombreCompleto| upper  %}

{% set __descripcion_opcional = descripcion  %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/highcharts.js') }}"></script>

    <script type="application/javascript" language="JavaScript">

        var server = $.LiveData.server;

        const DESDE_ORIGINAL   = {{ fdesde }};

        const HASTA_ORIGINAL   = {{ fhasta }};

        const PARAM_FECHA_POZO = {{ fintervencion }};

        const PARAM_PLUMAS     = 0;

        const PARAM_MANIOBRAS  = 1;

        const PARAM_CONDICION  = 0;

        $(document).ready(function () {

        });


        {% include 'AppBundle:equipo:plumas.js.twig' %}

        {% include 'AppBundle:equipo:maniobras.js.twig' %}

    </script>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <!-- AREA CHART -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Hist칩rico del Pozo</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="hstpl" style="width:100%; height:400px;"></div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.row -->

        <div class="col-md-12">
            <!-- AREA CHART -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Hist칩rico del Maniobras</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="hstman" style="width:100%; height:400px;"></div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.row -->

    </div>
{% endblock %}
