{% extends 'base.html.twig' %}


{% set __title = 'Intervenciones sobre '~pozo.nombre %}

{% block content %}
    <div class="box box-default">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <!-- form start -->
                    {{ form_start(form) }}
                    {{ form_row(form.accionDesc) }}
                    <div class="form-group">
                        {{ form_label(form.fecha) }}
                        <div class="col-sm-10">
                            <div id="intervencion_fecha" class="form-inline">
                                {{ form_widget(form.fecha.date, { 'attr': { 'class': 'datepicker' } }) }}
                                {{ form_widget(form.fecha.time.hour) }}
                                {{ form_widget(form.fecha.time.minute) }}
                                {{ form_errors(form.fecha) }}
                            </div>
                        </div>
                    </div>
                    {% set equipoClass = "" %}

                    {% if form.equipoDesc is defined %}
                        {% set equipoClass =  "hidden" %}
                        {{ form_row(form.equipoDesc) }}
                    {% endif %}

                    <div class="{{ equipoClass }}">
                        {{ form_row(form.equipo) }}
                    </div>


                    <div class="box-footer">
                        <input class="btn btn-primary" type="submit" value="Nueva Intervención"/>
                        <a class="btn btn-default" href="{{ path('pozo_index') }}"> Volver al Listado de pozos</a>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Listado de últimas intervenciones en el Pozo</h3>
        </div><!-- /.box-header -->

        <div class="box-body table-responsive no-padding">

            <table class="table table-hover">
                <tbody><tr>
                    <th>ID</th>
                    <th>Equipo</th>
                    <th>Accion</th>
                    <th>Fecha intervencion</th>
                    <th>Registrado el día</th>
                    <th>Creado Por</th>
                </tr>
                {% if intervenciones is empty %}
                <tr>
                    <td colspan="6">Hasta el momento no se han registrado intervenciones</td>
                </tr>
                {% endif %}
                {% for intervencion in intervenciones %}
                    <tr>
                        <td>{{ intervencion.id }}</td>
                        <td>{{ intervencion.equipo.nombreCompleto }}</td>
                        <td>{% if intervencion.accion == 0 %}<span class="label label-success">Apertura</span>{% else %}<span class="label label-warning">Cierre</span>{% endif %}</td>
                        <td>{{ intervencion.fecha is empty ? "" : intervencion.fecha | date('d/m/Y H:i:s') }}</td>
                        <td>{{ intervencion.fechaCreacion | date('d/m/Y H:i:s') }}</td>
                        <td>{{ intervencion.creadoPor }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div><!-- /.box-body -->
    </div>
    {{ knp_pagination_render(intervenciones) }}
{% endblock %}
