<li class="dropdown notifications-menu">
    <!-- Menu toggle button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        {% if cant_notificaiones  %}<span class="label label-danger">{{ cant_notificaiones }}</span> {% endif %}
    </a>
    <ul class="dropdown-menu">
        {% if cant_notificaiones == 1 %}
            {% set texto_notificaciones = 'Alerta sin leer'%}
        {% else %}
            {% set texto_notificaciones = 'Alertas no leídas'%}
        {% endif %}
        <li class="header">Tienes {{ cant_notificaiones }} {{ texto_notificaciones }}</li>
        <li>
            <!-- Inner Menu: contains the notifications -->
            <ul class="menu">
                {% if not cant_notificaiones %}
                    <li><!-- start notification -->
                        <a href="#">
                            <i class="fa  fa-thumbs-up text-aqua"></i> No Tienes alertas pendientes.
                        </a>
                    </li><!-- end notification -->
                {% else %}
                    {% for notificacion in ultimas_notificaciones %}

                        {% set notificacion_cls = "" %}

                        {%  if not notificacion.leidaPor(app.user.persona) %}
                            {% set notificacion_cls = "notificacion-no-leida" %}
                        {%  endif  %}

                        <li class="{{ notificacion_cls }}"><!-- start notification -->
                            <a href="{{ path('notificaciones_timeline') }}#notif-{{ notificacion.id }}">
                                <i class="fa fa-warning text-yellow"></i> {{ notificacion.notificacion }}
                            </a>
                        </li><!-- end notification -->
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        {% if cant_notificaiones  %}<li class="footer"><a href="{{ path('notificaciones_timeline',{ 'filtro' :'alertas'}) }}">Ver todas mis alertas</a></li>{% endif %}
    </ul>
</li>
{#<li class="dropdown task-menu">#}
    {#<!-- Menu toggle button -->#}
    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
        {#<i class="fa fa-bell-o"></i>#}
        {#{% if cant_notificaiones  %}<span class="label label-danger">{{ cant_notificaiones }}</span> {% endif %}#}
    {#</a>#}
    {#<ul class="dropdown-menu">#}
        {#<li class="header">Tienes {{ cant_notificaiones }} Notificaciones</li>#}
        {#<li>#}
            {#<!-- Inner Menu: contains the notifications -->#}
            {#<ul class="menu">#}
                {#{% if not cant_notificaiones %}#}
                    {#<li><!-- start notification -->#}
                        {#<a href="#">#}
                            {#<i class="fa  fa-thumbs-up text-aqua"></i> No Tienes alertas pendientes.#}
                        {#</a>#}
                    {#</li><!-- end notification -->#}
                {#{% else %}#}
                    {#{% for notificacion in ultimas_notificaciones %}#}

                        {#<li><!-- start notification -->#}
                            {#<a href="#">#}
                                {#<i class="fa fa-warning text-yellow "></i> {{ notificacion.notificacion }}#}
                            {#</a>#}
                        {#</li><!-- end notification -->#}
                    {#{% endfor %}#}
                {#{% endif %}#}
            {#</ul>#}
        {#</li>#}
        {#{% if cant_notificaiones  %}<li class="footer"><a href="#">Ver todas mis notificaciones</a></li>{% endif %}#}
    {#</ul>#}
{#</li>#}
