{% extends 'base.html.twig' %}


{% set __title = 'Timeline' %}

{% set __descripcion_opcional = '<strong><a href="'~path('notificaciones_timeline',{ 'filtro' :'all'})~'">Ver todo</a></strong>' %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript" language="JavaScript">

        $(document).ready(function () {

            var marcar_leido_url_proto = "{{ path('notificaciones_marcar_leido',{"id":"_notificacion_id_"}) }}";

            $('.marcar-como-leida').click(function(){

                var id = $(this).parents('.overlay-wrapper')[0].id;

                var boton = $(this);

                overlayBox('#'+id);

                var marcar_leido_url = marcar_leido_url_proto.replace(/_notificacion_id_/g, id);

                $.ajax({
                    url: marcar_leido_url,
                    success:function(response) {

                        console.log(response);

                        if(response.status == "success"){
                            boton.parents('.item-container').fadeOut(500, function() { $(this).remove(); });
                        }

                    }
                });
            });
        });

    </script>

{% endblock %}

{% block content %}
    <ul class="timeline">

        {% for k,evs in eventos  %}

            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-maroon">
                    {{ k }}
                  </span>
            </li>

            {% for item in evs %}

                {%  if item.tipo == constant('\\AppBundle\\Entity\\Notificacion::PERSONAL_TYPE') %}
                    {% set _class = 'fa-user bg-aqua' %}
                    {% set _msg   = 'ha generado una alerta personal.' %}
                {% elseif  item.tipo == constant('\\AppBundle\\Entity\\Notificacion::GRUPAL_TYPE') %}
                    {% set _class = 'fa-cubes bg-blue' %}
                    {% set _msg   = 'ha generado una notificacion a su equipo.' %}
                {% elseif  item.tipo == constant('\\AppBundle\\Entity\\Notificacion::SISTEMA_TYPE') %}
                    {% set _class = 'fa-warning bg-yellow' %}
                    {% set _msg   = 'ha generado una alerta general.' %}

                {% endif %}
                <!-- timeline item -->
                <li class="item-container">
                    <i class="fa {{ _class }}"></i>
                    <div class="timeline-item overlay-wrapper" id="{{ item.id }}">
                        <span class="time"><i class="fa fa-clock-o"></i> {{ item.fechaCreacion | date('H:i') }}</span>
                        <h3 class="timeline-header"><a href="#">Sistema</a> {{ _msg }}</h3>
                        <div class="timeline-body">
                            {{ item.notificacion }}
                        </div>
                        <div class="timeline-footer">
                            {%  if not item.leidaPor(app.user.persona)%}
                                <button class="btn btn-default btn-xs marcar-como-leida"><i class="fa fa-check-square-o"></i> Marcar como leída</button>
                            {% endif %}
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
            {% endfor %}

        {% endfor %}


        <!-- END timeline item -->
        <li>
            <i class="fa fa-clock-o bg-gray"></i>
        </li>
    </ul>
{% endblock %}