{% extends 'base.html.twig' %}

{% set __title = 'Rol' %}

{% block content %}
<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ rol.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ rol.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Slug</th>
                            <td>{{ rol.slug }}</td>
                        </tr>
                        <tr>
                            <th>Activo</th>
                            <td>{% if rol.activo %}<span class="label label-success">Si</span{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('rol_edit', { 'id': rol.id }) }}"> Editar</a>
                    <a class="btn btn-default" href="{{ path('rol_index') }}"> Volver al Listado</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
