{% extends 'base.html.twig' %}

{% set __title = 'Logs de inicios de sesión' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre de Usuario</th>
                                <th>Ip</th>
                                <th>User Agent</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr>
                                <td><a href="{{ path('persona_show', { id:log.usuario.persona.id}) }}">{{ log.username }}</a></td>
                                <td>{{ log.ip }}</td>
                                <td>{{ log.userAgent }}</td>
                                <td>{{ log.fecha |date('d/m/Y H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            {{ knp_pagination_render(logs) }}

        </div>
    </div>

{% endblock %}
