{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if mapbox_enabled %}<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />{% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% if mapbox_enabled %}
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>

    <script type="application/javascript">
        {{ include('AppBundle:pozo:mapa.js.twig') }}
    </script>
    {% endif %}

{% endblock %}

{% set __title = 'Nuevo Pozo' %}

{% block content %}
    <div class="box box-default">
        <div class="box-body">

            <div class="row">
                <div class="col-md-6">
                    <!-- form start -->
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="box-footer">
                        <input class="btn btn-primary" type="submit" value="Crear"/>
                        <a class="btn btn-default" href="{{ path('pozo_index') }}"> Volver al Listado</a>
                    </div>

                    {{ form_end(form) }}
                </div>
                <div class="col-md-6" style="height: 400px">
                    <div id='map' style='width: 90%; height: 90%;'></div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}


