{% extends 'base.html.twig' %}

{% import _self as listado %}

{% set __title = 'Listado de Personas' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Rol</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Tel. Principal</th>
                                <th>Cargo</th>
                                <th>Habilitado</th>
                                <th>Creado</th>
                                <th>Actualizado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for persona in personas %}
                            <tr>
                                <td>{{ persona.id }}</td>
                                <td><a href="{{ path('persona_show', { 'id': persona.id }) }}">{{ persona.usuario.username }}</a></td>
                                <td> {{ listado.userFriendlyRol(persona.usuario.roles[0],roles) }}</td>
                                    {#<a href="{{ path('rol_show', { 'id': persona.usuario.roles.[0].id }) }}">{{ persona.usuario.roles.[0] }}</a></td>#}
                                <td>{{ persona.nombre }}</td>
                                <td>{{ persona.apellido }}</td>
                                <td>{{ persona.telefonoPrincipal }}</td>
                                <td>{{ persona.cargo }}</td>
                                <td>{% if persona.usuario.enabled %}<span class="label label-success">Si</span{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                                <td>{% if persona.fechaCreacion %}{{ persona.fechaCreacion|date('d/m/Y') }}{% endif %}</td>
                                <td>{% if persona.fechaActualizacion %}{{ persona.fechaActualizacion|date('d/m/Y') }}{% endif %}</td>
                                <td>
                                    <a title="Editar"   class="btn btn-default btn-sm" href="{{ path('persona_edit', { 'id': persona.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a title="Cambiar Password" class="btn btn-default btn-sm" href="{{ path('cambiar-password', { 'id': persona.usuario.id }) }}"><i class="fa fa-fw fa-key"></i></a>
                                    <a title="Eliminar" class="btn btn-default btn-sm delete-obj" data-id="{{ persona.id }}" data-href="{{ path('persona_delete', { 'id': persona.id }) }}"> <i class="glyphicon glyphicon-remove-circle"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            {{ knp_pagination_render(personas) }}

        </div>
    </div>

    <div class="delete-obj-form hidden">
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

    <a class="btn btn-primary" href="{{ path('persona_new') }}">Nueva Persona</a>

{% endblock %}

{% macro userFriendlyRol(rol_slug,roles) %}
    {% for  rol in roles %}
        {% if rol.slug == rol_slug %}
            {{ rol.nombre }}
        {% endif %}
    {% endfor %}
{% endmacro %}
