{% extends 'base.html.twig' %}

{% set __title = 'Listado de maniobras' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for maniobra in maniobras %}
                            <tr>
                                <td><a href="{{ path('maniobra_show', { 'id': maniobra.id }) }}">{{ maniobra.id }}</a></td>
                                <td>{{ maniobra.nombre }}</td>                                <td>
                                    <a title="Editar"   class="btn btn-default btn-sm" href="{{ path('maniobra_edit', { 'id': maniobra.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a title="Eliminar" class="btn btn-default btn-sm delete-obj" data-id="{{ maniobra.id }}" data-href="{{ path('maniobra_delete', { 'id': maniobra.id }) }}"> <i class="glyphicon glyphicon-remove-circle"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            {{ knp_pagination_render(maniobras) }}

        </div>
    </div>

    <div class="delete-obj-form hidden">
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

    <a class="btn btn-primary" href="{{ path('maniobra_new') }}">Nueva maniobra</a>

{% endblock %}
