{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}

{{  "{% set __title = 'Editar " ~  entity   ~ "' %}" }}

{{ "{% block content %}" }}
<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <!-- form start -->
                {{ '{{ form_start(edit_form) }}' }}
                {{ '{{ form_widget(edit_form) }}' }}
                <div class="box-footer">
                    <input class="btn btn-primary" type="submit" value="Editar"/>
                    <a class="btn btn-default" href="{{ "{{ path('" ~  route_name_prefix   ~ "_index') }}" }}"> Volver al Listado</a>
                </div>

                {{ '{{ form_end(edit_form) }}' }}
            </div>
        </div>
    </div>
</div>

{{ "{% endblock %}" }}
{% endblock body %}


